name: Run Unit Testing with Pytest

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Create virtual environment
        run: make venv
      - name: Install dependencies
        run: |
          make install
          make install-dev
          make install-gpytorch-cpu
      - name: Lint with Ruff
        run: make lint
        continue-on-error: true
      - name: Run tests with coverage
        run: make test-cov
